name: Build Android Debug APK

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Make Gradle executable
        run: chmod +x gradlew

      - name: Set Up Android SDK
        uses: android-actions/setup-android@v3

      - name: Install Packages
        run: |
          sdkmanager \
          "platform-tools" \
          "platforms;android-34" \
          "build-tools;34.0.0"

      - name: Reconstruct keystore
        run: |
          echo "$KEYSTORE_B64" | base64 --decode > regenwall.keystore
        env:
          KEYSTORE_B64: ${{ secrets.KEYSTORE_B64 }}

      - name: LintMyJava
        run: ./gradlew lint

      - name: Upload Lint Report
        uses: actions/upload-artifact@v4
        with:
          name: lint-artifact
          path: app/build/intermediates/lint_intermediate_text_report/debug/lint-results-debug.txt

      - name: Build debug APK
        run: ./gradlew assembleDebug
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: regenwall-debug-apk
          path: app/build/outputs/apk/debug/app-debug.apk
