name: Build Android APK

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Make Gradle executable
        run: chmod +x gradlew

      - name: Set Up Android SDK
        uses: android-actions/setup-android@v3

      - name: Install Packages
        run: |
          sdkmanager \
          "platform-tools" \
          "platforms;android-34" \
          "build-tools;34.0.0"

      - name: Debug Dependencies
        run: ./gradlew :app:dependencies --configuration debugCompileClasspath

      - name: Build debug APK
        run: ./gradlew assembleDebug

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: regenwall-debug-apk
          path: app/build/outputs/apk/debug/app-debug.apk
